# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# idea
.classpath
.project
webapp/WEB-INF/classes/
lib_managed/
project/target/*
project/project/target/*
project/build/target/*
project/boot/*
project/plugins/lib_managed/*
project/plugins/project/*
project/plugins/target/*
project/plugins/src_managed/*
target/
.idea/*
.idea/workspace.xml
.idea_modules/
*.iml
.DS_Store
out/
snippets/
*.log
/.settings/
.cache
